<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Day 001 #100DaysOfCode</title>
  <script src="https://unpkg.com/vue"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="app">
  <section>
    <div class="container">
        <div class="columns">
          <div class="column is-four-fifths">
              <input type="text" class="input" placeholder="Añadir Tarea" v-model="task" v-on:keyup.enter="addTask(task)">
          </div>
          <div class="column">
              <a class="button is-primary" @click="addTask(task)"><i class="far fa-plus-square"></i>Add Task</a>
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="container" v-if="todos.length > 0">
      <ul v-for="(t, index) in todos">
        <li class="tarea">
          <div class="block">
            <span class="tag is-warning">
              <span class="task">{{ t.task }}</span>
              <button class="delete is-small" @click="deleteTask(index)"></button>
            </span>
              <div class="small date">{{ t.createdAt | fromNow }}</div>
          </div>
        </li>
      </ul>
    </div>
    <div v-else>
      <section class="hero is-medium">
        <div class="hero-body">
          <div class="container">
            <h1 class="title is-centered">
              Nothing to do
            </h1>
            <h2 class="subtitle is-centered">
              let's go procrastinate
            </h2>
            <figure class="image is-128x128 is-centered">
              <img class="is-rounded" src="https://media.giphy.com/media/Za7ZWOU0su5BC/giphy.gif">
            </figure>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>

<section>

</section>

<script src="app.js" type="text/javascript">
</script>
</body>
</html>
